root {
    --background-color: #ffffff;
    --text-color: #000000;
    --icon-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --text-color: #ffffff;
        --icon-color: #ffffff;
    }
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header, main, footer {
    padding: 20px;
    text-align: center;
}
