html, body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header, main, footer {
    padding: 20px;
    text-align: center;
}

/* Light mode styles */
body {
    background-color: #ffffff;
    color: #000000;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #ffffff;
    }
}